.d1body_m {
    background-color: aqua;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.d1body_m .jumbo_m {
    background-color: rgb(245, 160, 234);
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
    font-size: 16px;
    padding-left: 7%;
    padding-right: 7%;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.d1body_m .formIO_m {
    padding-top: 70px;
    width: 75%;
    margin: auto;
    padding-bottom: 150px;
}

.d1body_m .formIO_m .row .col-10 .text2_m {
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.d1body_m .formIO_m .row .col-10 .text3_m {
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.d1body_m .formIO_m .row .col-2{
    padding-left: 10px;
    margin: auto;
}

.d1body_m .formIO_m .row .col-2 .text4_m{
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.d1body_m .note_m {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20%;
    font-size: 12px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    /* padding-bottom: 215px; */
}